*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: #eaf3ff;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #222
}
.container {
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 35px;
    border-radius: 18px;

    text-align: center;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}
h1{
    font-size: 36px;
    margin-bottom: 8px;
}
.subtitle{
    color:#666;
    margin-bottom: 25px;
}
.search-box {
    display: flex;
    gap: 10px;
}
.search-box input {
    flex: 1;
    padding: 13px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 16px;
    outline: none;
}
.search-box input:focus {
    border-color: #2878d7;
}
.search-box button {
    padding: 13px 20px;

    border: none;
    border-radius: 8px;

    background: #2878d7;
    color: white;

    font-size: 16px;
    cursor: pointer;
}
.search-box button:hover {
    background: #1c61b0;
}
#message {
    margin: 20px 0;
    color: #d33;
}
.weather-card {
    margin-top: 25px;
    padding: 25px;

    background: #f5f9ff;
    border-radius: 15px;
}
.weather-card h2 {
    font-size: 28px;
    margin-bottom: 15px;
}
.temperature {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}
#condition {
    font-size: 18px;
    color: #555;
    margin-bottom: 25px;
}
.details {
    display: flex;
    justify-content: space-around;

    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.details div {
    width: 50%;
}

.details h3 {
    font-size: 25px;
    margin-bottom: 5px;
}

.details p {
    color: #666;
    margin-bottom: 5px;
}
.details span {
    font-weight: bold;
    font-size: 18px;
}
@media (max-width: 500px) {

    .container {
        padding: 25px;
    }
    .search-box {
        flex-direction: column;
    }

    .search-box button {
        width: 100%;
    }

    .temperature {
        font-size: 45px;
    }
}
